
body
{
	font-family:  'Raleway', "sans-serif";
	margin:0;
}
.bloc_page
{
	width:auto;
	height:auto;
	padding-left:20px;
	padding-right:20px;
	margin:0;
	
}

/*header navigation*/


#logo
{
	margin-left:20px;
	font-size:1.5em;
	position:absolute;
}
.alignementnav
{
	margin-bottom: 35px;
}
.alignementnav img
{
	width:100px;
	position:absolute;
	padding-top:30px;
}
.alignementnav nav
{	display:flex;
	justify-content: flex-end;
}
.alignementnav nav ul
{
	display:flex;
	text-align: end;
	margin-left:900px;
	
}
.alignementnav nav li
{
	display:block;
	padding-top:30px;
	text-align: center;
	width:160px;
	font-size:1.2em;
}
.alignementnav nav p
{	
	width:150px;
	padding-top:28px;
	font-size:1.2em;
	font-weight:bold;
}
.alignementnav a:hover
{
	color:#0065FC;
}
.alignementnav nav li:hover
{
	border-top:3px solid #0065FC;
	color:#0065FC;
	
}

.colorblue
{
	color:#0065FC;
}
div h1
{
	font-size: 1.5em;
	font-family: Raleway, "sans serif";
}

.boutonhebergements
{
	padding-top:30px;
}
/*FORMULAIRE*/
#intro
{
	margin-left:20px;
}
#intro p
{
	font-size:1em;
}
#recherche
{
	height:50px;
	width:60%;
	font-size:15px;
	color:black;
	font-weight: bold;
	border:none;
	padding-left:20px;
}
.iconsize
{
	height:50px;
	width:50px;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #F2F2F2;
	border-radius:10px 0 0 10px;
	
}

.recherche
{
	display:flex;
	justify-content: center;
	width:400px;
	border-radius: 15px;
	border:2px solid #F2F2F2;
	margin-bottom: 5px;
	margin-left:20px;
	
}
.bouton
{
	height:50px;
	width:40%;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #0065FC;
	border-radius:0 10px 10px 0;
	
}
.search
{	
	display:flex;
	color: white;
	font-weight: bold;
	width:auto;
}
.fas.fa-search
{
	opacity: 0;
}
.iconsize:hover,.bouton:hover
{
	font-size:20px;
}

/*filtre*/

div p
{
	font-size:  0.8em;
}
.filtre
{	display:block;
	width:950px;
	margin-left:20px;
	
}
.filtre h3
{
	
	align-items: center;
	padding-bottom:20px;
	font-size:1.3em;
	
}
.filtre ul
{	
	flex-wrap:wrap;
    list-style-type: none;
    display: flex;
	flex-wrap:wrap;
    text-align: center;
    font-weight: bold;

}
.filtre a
{
	border: 2px solid #F2F2F2;
	display:flex;
	border-radius: 50px;
	text-decoration: none;
	color:black;
	margin-right: 10px;
	margin-left:15px;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 1em;
	
}
.iconfiltre
{
	color:#0065FC;
	border: 1px solid #DEEBFF;
	border-radius:50px;
	height:40px;
	width:40px;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
	font-size: 18px;

}
.marge
{
	padding-left:10px;
	padding-right:10px;
}

.filtre a:hover
{
	background-color:#F2F2F2;
}
.info
{
	display: flex;
	align-items: center;
	margin-left:20px;
}
.info p
{
	font-size:1em;
}
.Iconinfo
{
	color: #0065FC;
	border: 2px solid #F2F2F2;
	border-radius:25px;
	width:20px;
	height:20px;
	text-align: center;
	margin-right: 5px;
}

/*section hebergements*/

.marseille
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:100%;
	max-width:1300px;
}
.titreMarseille
{
	padding-left: 10px;
	padding-top: 30px;
	margin-left:30px;
}
h2
{
	font-size: 1.4em;
}
h3
{
	font-size: 1.3em;
}
.conteneurhebergement
{
	flex:2;
	background-color: #F2F2F2;
	border-radius: 20px;
	height: 600px;
	margin-right:10px;
	margin-top:30px;
	width:auto;
	margin-left:20px;
}
.populaire
{
	flex:1;
	width:auto;
	margin-left:20px;
	margin-right:0px;
	height: 600px;
	border-radius: 20px;
	background-color: #F2F2F2;
	margin-top:30px;
	
}
.bloc1
{
	padding-left:20px;
	padding-right:20px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 30px;
}
.bloc1 h3, .bloc2 h3
{
	font-size:1.1em;
}
.bloc2
{
	padding-left:20px;
	padding-right:20px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top:30px;

	
}
.positionimage
{
	display:flex;
	flex-direction: column;
	height:170px;		
}
.fond_blanc
{
	background-color: white;
	border-radius:20px;
	padding: 5px;
	width: 30%;
	height:190px;
	box-shadow: 2px 2px 6px rgb(170, 167, 167);
}
.texte
{
	padding-left: 10px;
	font-size: 13px;
	color:black;
}
.icon{
	padding-top: 30px; 
}
.colorIcon
{
	color:#0065FC ;
	font-size: 10px;
	display:flex;
	align-items: center;
}
.colorIcongrey
{
	color: rgb(204, 199, 199);
	font-size:10px;
	padding-top:1px;
	}
.image 
{	
	border-radius: 15px 15px 0 0;
	width: 100%;
	height:110px;
	position:relative;
	object-fit: cover;
}
.affichage
{
	font-weight: bold;
	font-size: 15px;
	margin-top: 30px;
	padding-left: 30px;
	color:black
}

.fond_blanc:hover
{
	font-size:30px;
}
.affichage:hover
{
	font-weight:bold;
	color:#0065FC;
}
/*Aside LES PLUS POPULAIRES*/

.chart
{
	display: flex;
	align-items:center;
	justify-content: space-between;
	margin-left: 20px;
	margin-right:20px;
	margin-top: 30px;
	margin-bottom:10px;
	font-size:17px;
}
.imgpopulaire
{
	margin-top: 5px;
	margin-left:5px;
    width: 85px;
	height:125px ;
	border-radius: 25px 0 0 25px;
	object-fit: cover;
}

.positionImgPopulaire
{
	width:340px;
    height: 135px;
    background-color: white;
    border-radius: 25px;
    display: flex;
	margin-left:40px;
	margin-right:30px;
	margin-bottom:30px;
	box-shadow: 2px 2px 6px rgb(170, 167, 167);

}
.bloc
{
	display:block;
	width:100%;
	
}
.textepop h3
{
	font-weight:bold;
	font-size:14px;
	color:black;
}
.textepop
{
	width: 240px;
    padding-left: 20px;
	font-size: 13px;
	color:black;
}
.textepop:hover, .textepop h3:hover
{
	font-size:12px;
}


/*ACTIVITES*/

.bloc_activite
{
    max-width: 1320px;
	margin-top:30px;
	height:auto;
	margin-bottom:30px;
	margin-left:10px;
}
.bloc_act
{
	display: flex;
 	flex-direction: column;
 	justify-content: space-between;	
}
.bloc_act h3
{
	padding-left:20px;
	font-weight: bold;
	font-size: 0.8em;
	text-align:justify;
	padding-bottom:10px;	
}
.bloc_act h3:hover
{
	color:#0065FC;
	font-size:0.9em;
}
.titreMarseille2
{
	padding-left: 15px;
}
.positionactivite
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.photolongue
{ 
	height: 395px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
	
}
.imagesactivites
{
	width: 300px;
	height:auto;
    border-radius: 25px;
    box-shadow: 6px 6px 15px #F2F2F2;
	margin-bottom:10px;
	
}
.imagesactivites2, .imagesactivites3, .imagesactivites4
{
	border-radius: 25px;
    box-shadow: 6px 6px 15px #F2F2F2;
	margin-right:10px;
	width:300px;
}
.photocolumn
{
	width: 300px;
	max-height:440px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-left:5px;
	margin-right:5px;
}
.photocourte
{
	height: 220px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
	
}
.photocourte2
{
	height: 120px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;

}
.photocourte3, .photocourte4
{
	height:170px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

/*footer*/
footer 
{
	display: flex;
	flex-direction: row;
	background-color: #F2F2F2;
	justify-content: space-between;
	width:auto;

}
footer div a:hover
{
	color:#0065FC;
}
footer div
{
	text-decoration: none;

}
div ul
{
	list-style-type: none;
	padding-left: 0;
}
div a 
{
	text-decoration: none;
	color:black;
}
.a_propos
{
	margin-left: 40px;
}
.noshebergements
{
margin-right: 30px;
}
.assistance
{
	margin-right:300px;
	
}

/*MEDIA QUERIES*/

@media all and (max-width: 1360px)
{	
	.bloc_page
	{
		width:auto;
		padding-right:0;
		padding-left:0;
		margin-right:0;
	}

	.alignementnav nav p
	{	
		margin-right:20px;
	}
	/*filtre*/
	
	.filtre 
	{	
		flex-direction: column;
		width:auto;
	}
	.filtre ul {
		flex-wrap: wrap;
		position:relative;	
	}
	.filtre li
	{
		display:  flex;
		flex-wrap:wrap;
	}
	
	/*hebergement et populaire*/

	.marseille
	{
		flex-direction:column;
	}
	.conteneurhebergement
	{
		
		width:100%;
		height:auto;
		margin-right:0px;
		margin-left:0px;
		margin-bottom:30px;
	}
	
	.populaire
	{
		width:100%;
		height:auto;
		margin-left:0px;
		border-radius:0px;
		flex-wrap:wrap;
	}
	
	.bloc
	{
		display:flex;
		flex-direction:column;
		align-items: center;
	
	}
	.positionImgPopulaire
	{
		width:360px;
		height: 150px;
	}
	.imgpopulaire
	{

		width: 30%;
		height:140px ;
		
	}
	.textepop h3
	{
		padding-left: 0px;
	}
	.textepop
	{
		
		padding-left: 10px;
		
	}
	/*Activité*/
	.bloc_activite
	{
		width:auto;
	}
	footer
	{
		width:100%;
		height:auto;
	}
	.a_propos
	{
		margin-left: 40px;
		margin-right:40px;
	}
	.noshebergements
	{
	margin-right: 50px;
	margin-left:50px;
	}
	.assistance
	{
		margin-right:50px;
		margin-left:50px;
		
	}
	
}
@media all and (max-width:780px)
{
	.filtre li
	{
		padding-bottom:20px;
	}
	footer 
	{
		width:auto
	}
	.assistance
	{
		padding-right:30px;
		margin-left:0;
	}
}
@media all and (max-width:600px)
{
	.bloc_page
	{
		width:auto;
	}
	.alignementnav nav
	{	
		flex-wrap: wrap;
		flex-direction:row;
		position:relative;
	}
	.alignementnav nav p
	{	
		text-align: start;
	}
	
	.filtre li 
	{
		padding-bottom:20px;
	}
	footer 
	{
		display:flex;
		flex-direction:column;
		position:relative;
		width:auto;
		padding-left:40px;
		padding-right:0px;
		margin-left:0px;
	}
	.a_propos
	{
		margin-left: 0px;
	}	
	.noshebergements
	{
		margin-right: 0px;
		margin-left:0px;
	}
	.assistance
	{
		margin-right:0;
		margin-left:0px;
	}
	

}

@media all and (min-width: 800px)
{
	.filtre
	{
		display:flex;
	}
	.filtre h3
	{
		padding-top:25px;
		font-size:1.1em;
	}
	.filtre ul
	{
		display:flex;
		align-items:center;
		
	}
	
}

@media all and (max-width:480px)
{
	
	.bloc_page
	{
		width:auto;
		max-width:1240px;
		padding-left:0px;
		padding-right:0px;
	}
	.alignementnav
	{
		margin-bottom: 30px;
		width:100%;
	}
	
	.alignementnav nav
	{	position:relative;
		flex-direction:column-reverse;
		flex-wrap: wrap;
		width:100%;
	}
	.alignementnav nav ul
	{
		width:auto;
		justify-content: space-around;
		margin-left:0;
		margin-top: 10px;
	}
	.alignementnav nav li
	{
		padding-top: 28px;
		padding-bottom: 10px;
		margin-left:0;
		padding-left:0;
		border-bottom:3px solid #F2F2F2;
		font-size:1.2em;
		width:100%;
	}

	.alignementnav nav li:hover
	{
		border-bottom: 2px solid #0065FC;
		border-top:none;
	
	}
	.alignementnav nav p
	{
		text-align: end;
		margin-left:auto;
	}

	.boutonhebergements
{
	width:50%;
}
	.boutonactivite
	{
		width:50%;
	}
	/*search*/

	.recherche
	{
		width:90%;
	}
	#recherche
	{
		width:75%;
	}

	.bouton
	{
		width:auto;
		padding-right:20px;
		padding-left:20px;
		border-radius:10px;
	}
	
	.search
	{
		display:none;
	}
	.fas.fa-search
	{
		opacity: 1;
		padding-left: 0px;
		font-size: 1em;
		color:white;
	}


	/*filtre*/
	
	.filtre h3 
	{
		margin-left: 10px;
	}
		.filtre
	{
		width:auto;
		margin-left: 0;
		padding-left:0px;
		
	}
	
	.filtre ul
	{
		padding-inline-start: 0px;
		flex-wrap: wrap;
	}

	.filtre li
	{
		flex-wrap:wrap;
		padding-bottom:20px;
	}
	.filtre a
	{
		font-size:1em;
	}
	
	/*Hebergement marseille section*/
	.marseille
	{
		display:flex;
		flex-direction:column-reverse;
		align-items: center;
		
	}	
	.conteneurhebergement
	{
		flex-direction:column;
		background-color:white;
	}
	.bloc1
	{
		flex-direction: column;
		margin-bottom:0px;
		margin-left:0px;
	}
	.bloc2
	{
		flex-direction: column;
		margin-top:0px;
		margin-left:0px;
	}

	.fond_blanc
	{
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom:5px;
		width: auto;
		height:230px;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.image
	{
		height:120px;
	
	}
	.texte
	{
		padding-left: 10px;
		font-size: 18px;
		color:black;
	}
	.texte h3
	{
		font-weight: bold;
		font-size: 18px;
	}

	/*populaire*/

	.populaire
	{
		width:100%;
		margin-left: 0px;
		border-radius:0px;
	}
	.chart
	{
		
		margin-left: 30px;
		margin-right:20px;
		font-size:17px;
	}
	
	.positionImgPopulaire
	{
		width:auto;
		margin-left:30px;
		margin-right:0px;
		margin-bottom:30px;
	}
	.bloc
	{
		display:flex;
		flex-direction:column;
		align-items: center;
		width:340px;
		margin-left:20px;
	}
	.textepop h3
	{
		padding-left: 0px;
	}
	.textepop
	{
		padding-left: 10px;
	}
	
	/*Activité*/
	.bloc_activite
	{
		width:auto;
		margin-left:0px;
		margin-right:0px;
	}

	.bloc_act
	{
		width:auto;
	}
	.imagesactivites
	{
		width:auto;	
	}
	.imagesactivites2, .imagesactivites3, .imagesactivites4
	{
		margin-right:0px;
		width:auto;
	}
	.photo_responsive
	{
		width:90%;
	}
	.photolongue
	{
		height:185px;
		width:100%;
	}
	.photocolumn
	{
		width: 90%;
		height:100%;
		margin-left:0px;
		margin-right:0px;
		margin-bottom:40px;
	}
	.photocourte
	{
		height: 185px;	
		width:100%;
	}
	.photocourte2
	{
		height: 185px;
		width: 100%;
	}
	.photocourte3, .photocourte4
	{
		height:185px;
		width: 100%;
	}

	/*footer*/
	footer 
	{
		display:flex;
		flex-direction:column;
		position:relative;
		width:auto;
		padding-left:20px;
		padding-right:0px;
		margin-left:0px;
	}

	.a_propos
	{
		margin-left: 0px;
	}	
	.noshebergements
	{
	margin-right: 0px;
	margin-left:0px;
	}
	.assistance
	{
		margin-right:0;
		margin-left:0px;
	}
}
	
@media all and (max-width: 380px)

{

	.bloc_page
	{
		width:auto;
		height:auto;
		margin-left:0px;
		padding-right:0px;
	}
	.alignementnav
	{
		width:auto;
	}
	.alignementnav nav ul
	{
		width:auto;
	}
	.alignementnav nav li
	{
		width: 100%;
		padding-left:10px;
		flex-wrap: wrap;
	}
	.alignementnav nav p
	{
		margin-right:15px;

	}
	.boutonactivite
	{
		padding-left:20px;
		padding-right:20px;
		margin-right:0;
	}
	.recherche
	{
		width:90%;
		margin-left:15px;
	}
	#recherche
	{
		width:70%;
	}
	.filtre
	{
		width:100%;
		display:flex;
		flex-wrap: wrap;
		margin-left:0px;	
	}
	.filtre ul
	{
		width:auto;
		margin-left:0;
	}
	.filtre li
	{
		width:auto;
		margin-right:12px;
		margin-bottom:0px;
	}
	.conteneurhebergement
	{
		width:auto;
		height:auto;
		margin-right:0px;
		margin-left:0px;
	}

	.bloc1
	{
		width:auto;
	}
	.bloc2
	{
		width:auto;
	}

		/*populaire*/

	.populaire
	{
		width:auto;
		margin-left: 0px;
		margin-right:0px;
	}

	.chart
	{
		margin-top:10px;
		margin-left: 20px;
		margin-right:20px;
		font-size:17px;
	}
	.positionImgPopulaire
	{
		width:80%;
		margin-left:20px;
		margin-right:20px;
		margin-bottom:20px;
	}
	.bloc
	{
		width:auto;
		padding-left:30px;
	}
	
		/*activites Marseille*/
	.bloc_activite
	{
		width:auto;
			
	}

	/*footer*/
	footer 
	{
		width:auto;
		padding-left:30px;
		padding-top:0px;
		padding-right:0;
	
	}

	
}
@media all and (max-width:280px)
{
	.bloc_page
	{
		width:auto;
	}
	.alignementnav nav ul
	{
		width:auto;
	}
	.alignementnav nav li
	{
		width: auto;
		padding-left:0px;
		flex-wrap: wrap;
	}
	.alignementnav nav p
	{
		margin-right:10px;

	}
	.boutonactivite
	{
		padding-left:10px;
		padding-right:10px;
		margin-right:0;
	}
	.conteneurhebergement
	{
		width:auto;
		height:auto;
	}

	.bloc1
	{
		width:auto;
	}
	.bloc2
	{
		width:auto;
	}

		/*populaire*/

	.populaire
	{
		width:auto;
		margin-left: 0px;
		margin-right:0px;
	}

	.chart
	{
		margin-top:10px;
		margin-left: 20px;
		margin-right:20px;
		font-size:17px;
	}
	.positionImgPopulaire
	{
		width:auto;
		margin-left:20px;
		margin-right:20px;
		margin-bottom:20px;
	}
	.bloc
	{
		width:auto;
	}
	
		/*activites Marseille*/
	.bloc_activite
	{
		width:auto;
			
	}

	/*footer*/
	footer 
	{
		width:auto;
		padding-left:30px;
		padding-top:0px;
		padding-right:30;
	
	}
	.a_propos
	{
		margin-left: 0px;
	}	
	.noshebergements
	{
		margin-right: 0px;
		margin-left:0px;
	}
	.assistance
	{
		margin-right:0;
		margin-left:0px;
	}
	
}
